<app-navbar></app-navbar>

<!-- Hero Section -->
<app-hero-section></app-hero-section>

<!-- What is SMP? Section -->
<div style="box-shadow: 0px 30px 20px 0px rgba(71, 85, 105, 0.15) inset">
  <app-info-section></app-info-section>
</div>

<!-- Key Functions of SMP Section -->
<app-key-functions></app-key-functions>

<app-objectives></app-objectives>

<!-- How to get a mentor? Section -->
<app-how-to-get-mentor> </app-how-to-get-mentor>

<!-- Mentors connected with SMP Section -->
<!-- <app-mentors-connected></app-mentors-connected> -->
<!-- Testimonials Section -->
<!-- <app-testimonial-carousel></app-testimonial-carousel> -->


<!-- FAQ Section -->
<app-faq-section> </app-faq-section>

<app-footer></app-footer>
